$badge-padding:2px 10px;
$badge-border-radius:5px;
$badge-font-weight:bold;
$badge-inner-padding:2px;
$badge-inner-margin:0px;
$badge-pill-border-radius:25px;
$badge-skew-right:-20deg;
$badge-skew-inner-right:20deg;
$badge-skew-left:20deg;
$badge-skew-inner-left:-20deg;

// @import 'variables';
// @import 'functions';
// @import 'controlers-mixins';
// @import 'transitions';
// @import 'global';

.badge{
    display: block;
    width:fit-content;
    padding:$badge-padding;
    border-radius: $badge-border-radius;
    font-weight: $badge-font-weight;
    & > * {
        margin: $badge-inner-margin;
        padding: $badge-inner-padding;
    }
    &__pill{
        border-radius: $badge-pill-border-radius;
    }
    &__sknew-right{
        transform: skewX($badge-skew-right);
        & > * {
            transform: skewX($badge-skew-inner-right);
          
        }
    }
    &__sknew-left{
        transform: skewX($badge-skew-left);
        & > * {
            transform: skewX($badge-skew-inner-left);
        }
    }
}