// @import 'variables';
// @import 'functions';
// @import 'controlers-mixins';
// @import 'transitions';
// @import 'global';

.divider{
    position: relative;
    top:0px;
    left:0px;
    p,h1,h2,h3,h4,h5,h6{
        font-style: italic;
        text-align: center;
        cursor: pointer;
        min-width: fit-content;
        width: fit-content;
        max-width: fit-content;
        margin: 0px auto;
        &.divider__text-vertical{
            margin: auto 0px;
            position: relative;
            top:50%;
            left:0px;
            min-height: fit-content;
            height: fit-content;
            max-height: fit-content;
            transform: translateY(-50%);
            text-orientation: upright;
            writing-mode: vertical-rl;
        }
    }
    @each $class,$color in $elementsColors{
        &__horizontal-light-#{$class}{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, var(--white),$color);
                }
            }
            &:last-of-type{
                right: 0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, $color,var(--white));
                }
            }
        }
    }
    @each $class,$color in $elementsLightColors{
        &__horizontal-light-#{$class}-light{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, var(--white),$color);
                }
            }
            &:last-of-type{
                right: 0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, $color,var(--white));
                }
            }
        }
    }
    @each $class,$color in $elementsColors{
        &__horizontal-dark-#{$class}{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, $color,var(--black));
                }
            }
            &:last-of-type{
                right: 0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, var(--black),$color);
                }
            }
        }
    }
    @each $class,$color in $elementsLightColors{
        &__horizontal-dark-#{$class}-light{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, $color,var(--black));
                }
            }
            &:last-of-type{
                right: 0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 100%;
                    height: 3px;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(90deg, var(--black),$color);
                }
            }
        }
    }

    @each $class,$color in $elementsColors{
        &__vertical-light-#{$class}{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, var(--white),$color);
                }
            }
            &:last-of-type{
                left: 0px;
                bottom:0px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, $color,var(--white));
                }
            }
        }
    }
    @each $class,$color in $elementsLightColors{
        &__vertical-light-#{$class}-light{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, var(--white),$color);
                }
            }
            &:last-of-type{
                left: 0px;
                bottom:0px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, $color,var(--white));
                }
            }
        }
    }
    @each $class,$color in $elementsColors{
        &__vertical-dark-#{$class}{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, var(--black),$color);
                }
            }
            &:last-of-type{
                left: 0px;
                bottom:0px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, $color,var(--black));
                }
            }
        }
    }
    @each $class,$color in $elementsLightColors{
        &__vertical-dark-#{$class}-light{
            cursor: pointer;
            transition: all 0.6 ease-in-out;
            position: absolute;
            &:first-of-type{
                left:0px;
                top:10px;
                &::before{
                    content: '';
                    position: absolute;
                    left:0px;
                    top:-0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, var(--black),$color);
                }
            }
            &:last-of-type{
                left: 0px;
                bottom:0px;
                &::before{
                    content: '';
                    position: absolute;
                    right:0px;
                    top:0px;
                    width: 3px;
                    height: 100%;
                    border-radius:25px;
                    overflow:hidden;
                    background: linear-gradient(180deg, $color,var(--black));
                }
            }
        }
    }
}